@nof-colors: 20;
@basecolor: desaturate(red, 40%);

.auto-color-mixin(@color) {
  background-color: @color;
  color: contrast(@color);

  &:hover, &.hover {
    background-color: saturate(@color, 20%);
  }
  &:checked, &.checked {
    @activecolor: saturate(@color, 100%);
    background-color: @activecolor;
    color: contrast(@activecolor);
  }
}

.mixin-loop (@index, @total) when (@index > 0) {
  @next: @index - 1;
  @offset: (180 / @nof-colors)* @index;
  @bgcolor2: spin(@basecolor, @offset);
  @bgcolor: spin(@basecolor, @offset + 180);

  .auto-color-@{index} {
    .auto-color-mixin(@bgcolor);
  }
  .auto-color-@{next} {
    .auto-color-mixin(@bgcolor2);
  }

  .mixin-loop(@index - 2, @total);
}

.mixin-loop(@nof-colors, @nof-colors);
