.sist-endret-liste {
  font-size: 1.3rem;
  line-height: 1.3rem;
  max-height: 500px;
  transition: max-height 0.5s;
  overflow: hidden;

  &.kollapset {
    max-height: 0px;
  }



  div {
    &:not(:last-child) {
      border-bottom: 1px solid #ddd;
    }

    &.checked {
      background: #2929B2;
      color: white;
    }
    transition: background-color 100ms;
  }
  input {
    position: absolute;
    left: -9999px;
  }
  input + label {
    display: block;
    padding: 1rem 0.3rem;

    .behandlingsid {
      float: left;
      padding-left: 1rem;
    }
    .antall-hendelser {
      float: right;
      font-size: 1rem;
      margin-right: 1rem;
    }

  }
  input:focus + label {
    outline: 2px solid #2ab0b0;
  }
}
.c-hamburger {
  position: absolute;
  right: 0;
  margin: 0.5rem;
}

