.henvendelse-visning {
  position: relative;
  .underheader {
    border: none;
    padding-bottom: 0;
  }
  .endret-dato {
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 0.3rem;
  }
  .pil-knapp {
    position: absolute;
    margin: 0.75rem;
    background: none;
    border: none;
  }
  .tidligere-hendelser {
    .pil-venstre(0.75rem, #0067c5);
    left: 0;
    &.disabled {
      .pil-venstre(0.75rem, #ccc);
    }
  }
  .senere-hendelser {
    .pil-hoyre(0.75rem, #0067c5);
    right: 0;
    &.disabled {
      .pil-hoyre(0.75rem, #ccc);
    }
  }
}