* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, .application {
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
  max-width: 50rem;
  margin: 0 auto;

  font-size: 14px;
  font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}

.application {
  padding: 1rem;
}

.hoved-header, .underheader {
  text-align: center;
}

.henvendelse-visning {
  min-height: 30rem;
}

.visnings-boks {
  background-color: white;
  border: 1px solid #ccc;
  margin-top: 1rem;

  .underheader {
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
  }
}