* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, .application {
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
  margin: 0 auto;

  font-size: 14px;
  font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}

.application {
  padding: 1rem;
  max-width: 50rem;
}

.hoved-header, .underheader {
  text-align: center;
}

.henvendelse-visning {
  min-height: 30rem;
}

.visnings-boks {
  position: relative;
  background-color: white;
  border: 1px solid #ccc;
  margin-top: 1rem;

  .underheader {
    padding: 0.5rem;
    border-bottom: 1px solid #ccc;
  }
}

@media (min-width: 81rem) {
  .application {
    max-width: 70rem;
  }
  .sist-endret {
    float: left;
    width: 20rem;

    button {
      display: none;
    }

    .sist-endret-liste.kollapset {
      max-height: 500px;
    }
  }
  .henvendelse-visning {
    margin-left: 21rem;
  }
}